{% extends 'testing/base.html' %}
{% load static %}
{% block content %}
{% include 'testing/sidebar_content.html' %}

<div class="check-list-container">
    <a href="{% url 'testing:create_checklist' %}" class="create-checklist-button">Создать новый чек-лист</a>
    {% include 'testing/filterform2.html' %}
    <h4>Чек-листы:</h4>
    <div class="created-checklist">
        {% for checklist in checklists %}
        <a href="{% url 'testing:checklist_details' checklist.id %}" class="checklist-link">
            <div class="checklist-item {% if checklist.status == 'not_tested' %}not-tested{% elif checklist.status == 'passed' %}passed{% elif checklist.status == 'failed' %}failed{% endif %}">
                <strong>{{ checklist.name }}</strong> - </strong> - {{ checklist.description }}
            </div>
        </a>
        {% endfor %}
    </div>

    <div class="checkform-container">
        <form method="post" class="test-case-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form2.name.id_for_label }}">Модуль:</label>
                {{ form2.name }}
            </div>
            <div class="form-group">
                <label for="{{ form2.description.id_for_label }}">Описание:</label>
                {{ form2.description }}
            </div>
            <button type="submit" class="btn btn-primary">Создать</button>
        </form>
    </div>

{% endblock %}